@font-face {
  font-family: 'YSText';
  src: url('~@/assets/fonts/YSText-Regular.woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'YSText';
  src: url('~@/assets/fonts/YSText-Medium.woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'YSText';
  src: url('~@/assets/fonts/YSText-Bold.woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'foodfox-icons';
  src: url('~@/assets/fonts/foodfox-icons.woff'),
    url('~@/assets/fonts/foodfox-icons-2.woff')
}